<!DOCTYPE HTML>
<html>
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="/../css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/../css/bootstrap-datetimepicker.css" rel="stylesheet"/>
    <style type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/../css/styles.css" />

</head>
<body>
<header>
    <div class="container-fluid" style="background-color: #2D4464;">
        <div class="row" style="display: flex; align-items: center;">
            <div class="col-12 col-md-8 col-md-offset-2" style="text-align: center;">
                <img alt="logo" src="/../images/logo_big.png" style="margin-top: 40px; margin-bottom: 40px;"/>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 grey-background no-float"
             style="verical-align: middle; padding: 40px 50px;">
            <div class="col-md-6">
                <div style="text-align: center;">
                    <a href="/../views/clients" class="btn btn-my">Clients</a>
                </div>
                <div style="text-align: center;">
                    <a href="/../views/promises" class="btn btn-my">Promises</a>
                </div>
            </div>
            <div class="col-md-6">
                <div style="text-align: center;">
                    <a href="/../views/add-client" class="btn btn-my">Add Client</a>
                </div>
                <div style="text-align: center;">
                    <a href="/../views/payouts" class="btn btn-my">Payouts</a>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <a href="/../users/logout" class="btn btn-my" style="text-align: center; margin-top: 40px; background-color: #A9A9A9; color: #ffffff;">Logout</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>